Import Libraries

In [36]:
import pandas as pd
import numpy as np
import os

Currency Codes

In [37]:
country_currency_codes_table = {
    'Burundi': 'BIF',
    'Benin': 'XOF',
    'Burkina Faso': 'XOF',
    'Central African Republic': 'XAF',
    "Côte d'Ivoire": 'XOF',
    'Cameroon': 'XAF',
    'Democratic Republic of the Congo': 'CDF',
    'Congo, Rep.': 'XAF',
    'Comoros': 'KMF',
    'Eritrea': 'ERN',
    'Ethiopia': 'ETB',
    'Ghana': 'GHS',
    'Guinea': 'GNF',
    'Gambia, The': 'GMD',
    'Guinea-Bissau': 'XOF',
    'Liberia': 'LRD',
    'Madagascar': 'MGA',
    'Mali': 'XOF',
    'Mozambique': 'MZN',
    'Mauritania': 'MRU',
    'Malawi': 'MWK',
    'Niger': 'XOF',
    'Rwanda': 'RWF',
    'Sudan': 'SDG',
    'Senegal': 'XOF',
    'Sierra Leone': 'SLL',
    'Somalia': 'SOS',
    'São Tomé and Principe': 'STN',
    'Chad': 'XAF',
    'Togo': 'XOF',
    'Tanzania': 'TZS',
    'Uganda': 'UGX',
    'Zambia': 'ZMW'
}

Read Data

In [38]:
#read in stata dataset as dataframe "country_code_df"
country_code_df = pd.read_stata("codesffactors_Mar23_2019.dta") 
country_code_df.replace('--', np.nan, inplace=True) #replace all entries that are '--' with NaN data value

country_code_df.head()

,countryname,wbctry,wbcode,wbregion,wbigroup2017,wblcat2017,hipc,emu,cemac,waemu,imfcode,imfweocode,imfweoiso,imfweoctry,region
0,Aruba,Aruba,ABW,Latin America & Caribbean,High income,NaN,0,0,0,0,NaN,314.0,ABW,Aruba,LAC
1,Afghanistan,Afghanistan,AFG,South Asia,Low income,IDA,1,0,0,0,512.0,512.0,AFG,Afghanistan,SAS
2,Angola,Angola,AGO,Sub-Saharan Africa,Lower middle income,IBRD,0,0,0,0,614.0,614.0,AGO,Angola,SSA
3,Anguilla,NaN,AIA,Latin America & Caribbean,NaN,NaN,0,0,0,0,312.0,NaN,NaN,NaN,LAC
4,Albania,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD,0,0,0,0,914.0,914.0,ALB,Albania,ECA

In [39]:
region_classification_ls = country_code_df['wbregion'].unique() #get a list of region classifications
income_classification_ls = country_code_df['wbigroup2017'].unique() #get a list of income classifications
income_classification_ls = [x for x in income_classification_ls if not pd.isna(x)] # remove '--' from income_classification_ls

print(f"The region classifications are: {', '.join(country for country in region_classification_ls)}")
print(f"The income classifications are: {', '.join(country for country in income_classification_ls)}")

The region classifications are: Latin America & Caribbean, South Asia, Sub-Saharan Africa, Europe & Central Asia, Middle East & North Africa, East Asia & Pacific, North America
The income classifications are: High income, Low income, Lower middle income, Upper middle income

In [40]:
ssa_hipc_countries = country_code_df[(country_code_df['hipc'] == 1) & (country_code_df['wbregion'] == 'Sub-Saharan Africa')]
ssa_hipc_countries_ls = ssa_hipc_countries['imfweoctry'].to_list()

ssa_hipc_countries_ls

['Burundi',
 'Benin',
 'Burkina Faso',
 'Central African Republic',
 "Côte d'Ivoire",
 'Cameroon',
 'Democratic Republic of the Congo',
 'Republic of Congo',
 'Comoros',
 'Eritrea',
 'Ethiopia',
 'Ghana',
 'Guinea',
 'The Gambia',
 'Guinea-Bissau',
 'Liberia',
 'Madagascar',
 'Mali',
 'Mozambique',
 'Mauritania',
 'Malawi',
 'Niger',
 'Rwanda',
 'Sudan',
 'Senegal',
 'Sierra Leone',
 'Somalia',
 'São Tomé and Príncipe',
 'Chad',
 'Togo',
 'Tanzania',
 'Uganda',
 'Zambia']

In [41]:
#convert to USD (get the billions/millions reading, fx function, raw USD)

#clip dataframe, store in table 

#get average per country

#get overall average

#calculate breakdowns


argentina_df = pd.read_excel("Argentina.xlsx") 

argentina_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Detailed Revenue Breakdown,Detailed Revenue Breakdown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country: Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sector: Budgetary central government,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Unit: Domestic currency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Scale: Millions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Read in IMF's Government Finance Statistics

In [52]:
master_table = {}
folder_path = "expenditure-data-test"

# Loop that goes through all files 'file_name' in the folder 'folder_path'
for file_name in os.listdir(folder_path):
  if file_name.endswith('.xlsx'): #check to see if is spreadsheet .xlsx format
    raw_df = pd.read_excel(folder_path+ "/" + file_name) #read in .xlsx as dataframe
    master_table[file_name[:-5]] = raw_df #store dataframe as an entry in the master_table hash table

{'Benin':                                   Unnamed: 0   Unnamed: 1   Unnamed: 2  \
 0                 Detailed Expense Breakdown          NaN          NaN
 1                             Country: Benin          NaN          NaN
 2       Sector: Budgetary central government          NaN          NaN
 3                    Unit: Domestic currency          NaN          NaN
 4                            Scale: Billions          NaN          NaN
 5                                        NaN          NaN          NaN
 6                                        NaN  2010.000000  2011.000000
 7                                    Expense   459.011490   457.660567
 8                  Compensation of employees   235.600075   242.117067
 9                         Wages and salaries   235.600075   242.117067
 10           Employers' social contributions     0.000000     0.000000
 11                 Use of goods and services    71.197566    68.703453
 12                          Interest expense    17.734935    14.973871
 13                           To nonresidents     8.106149     7.831106
 14  To residents other than government units     9.628786     7.142766
 15                 To other government units     0.000000     0.000000
 16                                 Subsidies    20.525565    33.553247
 17                    To public corporations    20.525565    33.553247
 18                    To private enterprises     0.000000     0.000000
 19                          To other sectors     0.000000     0.000000
 20                                    Grants   101.794146    86.975987
 21                    To foreign governments     0.000000     0.000000
 22            To international organizations     6.166268     5.812560
 23                 To other government units    95.627878    81.163427
 24                                   Current    95.627878    81.163427
 25                                   Capital     0.000000     0.000000
 26                           Social benefits     0.775000     0.987000
 27                  Social security benefits     0.000000     0.000000
 28                Social assistance benefits     0.000000     0.000000
 29        Employment-related social benefits     0.775000     0.987000
 30                             Other expense    11.384204    10.349942
 31      Property expense other than interest     0.000000     0.000000
 32                Expense on other transfers    11.384204    10.349942

      Unnamed: 3  Unnamed: 4
 0           NaN         NaN
 1           NaN         NaN
 2           NaN         NaN
 3           NaN         NaN
 4           NaN         NaN
 5           NaN         NaN
 6   2012.000000      2013.0
 7    534.669798       577.5
 8    267.900275       296.2
 9    267.900275       296.2
 10     0.000000         0.0
 11    94.436470       106.1
 12    23.143175        19.9
 13    10.604660         9.8
 14    12.538515        10.1
 15     0.000000         0.0
 16    55.091217        49.5
 17    55.091217        49.5
 18     0.000000         0.0
 19     0.000000         0.0
 20    80.503177        91.1
 21     0.000000         0.0
 22     6.894267         8.2
 23    73.608910        82.9
 24    73.608910        82.9
 25     0.000000         0.0
 26     0.783000         0.9
 27     0.000000         0.0
 28     0.000000         0.0
 29     0.783000         0.9
 30    12.812484        13.7
 31     0.000000         0.0
 32    12.812484        13.7  ,
 'Central African Republic':                                   Unnamed: 0     Unnamed: 1     Unnamed: 2  \
 0                 Detailed Expense Breakdown            NaN            NaN
 1              Country: Central African Rep.            NaN            NaN
 2       Sector: Budgetary central government            NaN            NaN
 3                    Unit: Domestic currency            NaN            NaN
 4                            Scale: Millions            NaN            NaN
 5                                        NaN            NaN            NaN
 6                                        NaN    2010.000000    2011.000000
 7                                    Expense  173191.844630  154688.395707
 8                  Compensation of employees   42810.146225   45990.959872
 9                         Wages and salaries   40985.248049   44003.471456
 10           Employers' social contributions    1824.898176    1987.488416
 11                 Use of goods and services  100287.755219   75432.881175
 12                          Interest expense    9511.550000    6983.069495
 13                           To nonresidents    2779.550000    2709.069495
 14  To residents other than government units    6732.000000    4274.000000
 15                 To other government units       0.000000       0.000000
 16                                 Subsidies            NaN            NaN
 17                    To public corporations            NaN            NaN
 18                    To private enterprises       0.000000       0.000000
 19                          To other sectors            NaN            NaN
 20                                    Grants       0.000000       0.000000
 21                    To foreign governments       0.000000       0.000000
 22            To international organizations       0.000000       0.000000
 23                 To other government units       0.000000       0.000000
 24                                   Current       0.000000       0.000000
 25                                   Capital       0.000000       0.000000
 26                           Social benefits       0.000000       0.000000
 27                  Social security benefits       0.000000       0.000000
 28                Social assistance benefits       0.000000       0.000000
 29        Employment-related social benefits       0.000000       0.000000
 30                             Other expense     400.000000    3000.000000
 31      Property expense other than interest       0.000000       0.000000
 32                Expense on other transfers     400.000000    3000.000000

        Unnamed: 3    Unnamed: 4    Unnamed: 5    Unnamed: 6     Unnamed: 7  \
 0             NaN           NaN           NaN           NaN            NaN
 1             NaN           NaN           NaN           NaN            NaN
 2             NaN           NaN           NaN           NaN            NaN
 3             NaN           NaN           NaN           NaN            NaN
 4             NaN           NaN           NaN           NaN            NaN
 5             NaN           NaN           NaN           NaN            NaN
 6     2012.000000   2014.000000   2015.000000   2016.000000    2017.000000
 7   104889.000000  77390.768917  93306.810411  97567.295289  104410.000000
 8    51212.645448  53784.000000  56675.601307  49182.000000   50003.000000
 9    49015.946957  51464.377325  54144.201467  47346.049153   47738.440867
 10    2196.698491   2319.622675   2531.399840   1835.950847    2264.559133
 11   24993.341734   6348.000000  15233.638322  21972.000000   27744.000000
 12    5923.666208   2169.768917   4697.812520   1155.630000    2205.000000
 13    2363.419583   2032.978409    334.501753   1085.000000    2091.000000
 14    3560.246625    136.790508   4363.310767     70.630000     114.000000
 15       0.000000      0.000000      0.000000      0.000000       0.000000
 16            NaN      0.000000      0.000000      0.000000       0.000000
 17            NaN      0.000000      0.000000      0.000000       0.000000
 18       0.000000      0.000000      0.000000      0.000000       0.000000
 19            NaN      0.000000      0.000000      0.000000       0.000000
 20       0.000000      0.000000      0.000000      0.000000       0.000000
 21       0.000000      0.000000      0.000000      0.000000       0.000000
 22       0.000000      0.000000      0.000000      0.000000       0.000000
 23       0.000000      0.000000      0.000000      0.000000       0.000000
 24       0.000000      0.000000      0.000000      0.000000       0.000000
 25       0.000000      0.000000      0.000000      0.000000       0.000000
 26       0.000000      0.000000      0.000000      0.000000       0.000000
 27       0.000000      0.000000      0.000000      0.000000       0.000000
 28       0.000000      0.000000      0.000000      0.000000       0.000000
 29       0.000000      0.000000      0.000000      0.000000       0.000000
 30            NaN  15089.000000  16699.758262  25257.665289   24458.000000
 31       0.000000      0.000000      0.000000      0.000000       0.000000
 32            NaN  15089.000000  16699.758262  25257.665289   24458.000000

        Unnamed: 8  Unnamed: 9
 0             NaN         NaN
 1             NaN         NaN
 2             NaN         NaN
 3             NaN         NaN
 4             NaN         NaN
 5             NaN         NaN
 6     2018.000000      2019.0
 7   124885.230000    129359.0
 8    61336.000000     65052.0
 9    58886.742009     57087.0
 10    2449.257991      7965.0
 11   30478.000000     36371.0
 12    2801.230000      6482.0
 13    2656.230000      1642.0
 14     145.000000         0.0
 15       0.000000      4840.0
 16       0.000000         0.0
 17       0.000000         0.0
 18       0.000000         0.0
 19       0.000000         0.0
 20       0.000000         0.0
 21       0.000000         0.0
 22       0.000000         0.0
 23       0.000000         0.0
 24       0.000000         0.0
 25       0.000000         0.0
 26       0.000000         0.0
 27       0.000000         0.0
 28       0.000000         0.0
 29       0.000000         0.0
 30   30270.000000     21454.0
 31       0.000000         0.0
 32   30270.000000     21454.0  ,
 'Sudan':                                    Unnamed: 0                  Unnamed: 1  \
 0                  Detailed Revenue Breakdown  Detailed Revenue Breakdown
 1                              Country: Sudan                         NaN
 2        Sector: Budgetary central government                         NaN
 3                     Unit: Domestic currency                         NaN
 4                             Scale: Millions                         NaN
 5                                         NaN                         NaN
 6                                         NaN                        2010
 7                                     Revenue                     20737.9
 8                                       Taxes                     10024.4
 9   Taxes on income, profits, & capital gains                        1136
 10               Taxes on payroll & workforce                           0
 11                          Taxes on property                        15.8
 12                  Taxes on goods & services                      5178.5
 13          Taxes on int trade & transactions                      2882.3
 14                         Other taxes n.e.c.                       811.8
 15                       Social contributions                           0
 16              Social security contributions                           0
 17                 Other social contributions                           0
 18                                     Grants                      1184.8
 19                              Other revenue                      9528.7

     Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7
 0          NaN         NaN         NaN         NaN         NaN         NaN
 1          NaN         NaN         NaN         NaN         NaN         NaN
 2          NaN         NaN         NaN         NaN         NaN         NaN
 3          NaN         NaN         NaN         NaN         NaN         NaN
 4          NaN         NaN         NaN         NaN         NaN         NaN
 5          NaN         NaN         NaN         NaN         NaN         NaN
 6       2011.0      2012.0      2013.0      2014.0      2015.0      2016.0
 7      24850.3     22168.1     34311.5     51227.7     54499.8     57864.7
 8       8062.2     15567.4     24133.6     35178.0     41963.3     47257.5
 9       1044.5      1432.6      1713.6      3003.9      3103.0      3387.6
 10         0.0         0.0         0.0         0.0         0.0         0.0
 11        65.4        46.7        19.0        66.2        85.3        90.0
 12      4533.8      9391.1     15518.4     24170.9     29608.1     34597.6
 13      1968.3      4688.2      6824.5      7913.6      9063.3      9057.7
 14       450.2         8.8        58.1        23.4       103.6       124.6
 15         0.0         0.0         0.0         0.0         0.0         0.0
 16         0.0         0.0         0.0         0.0         0.0         0.0
 17         0.0         0.0         0.0         0.0         0.0         0.0
 18      1212.6       915.1      2032.7      2566.5      1680.3      1758.0
 19     15575.5      5685.6      8145.2     13483.2     10856.2      8849.2  ,
 'Madagascar':                                    Unnamed: 0                  Unnamed: 1  \
 0                  Detailed Revenue Breakdown  Detailed Revenue Breakdown
 1                Country: Madagascar, Rep. of                         NaN
 2        Sector: Budgetary central government                         NaN
 3                     Unit: Domestic currency                         NaN
 4                             Scale: Billions                         NaN
 5                                         NaN                         NaN
 6                                         NaN                        2010
 7                                     Revenue                 2576.785585
 8                                       Taxes                    1780.755
 9   Taxes on income, profits, & capital gains                     490.294
 10               Taxes on payroll & workforce                           0
 11                          Taxes on property                           0
 12                  Taxes on goods & services                    1023.842
 13          General taxes on goods & services                     803.938
 14                               Excise taxes                     201.039
 15          Taxes on int trade & transactions                     263.059
 16                         Other taxes n.e.c.                        3.56
 17                       Social contributions                       170.5
 18              Social security contributions                           0
 19                 Other social contributions                       170.5
 20                                     Grants                     354.942
 21                  Grants from foreign govts                      15.334
 22                       Grants from int orgs                     339.608
 23                 Grants from other gen govt                           0
 24        Grants from other gen govt: current                           0
 25        Grants from other gen govt: capital                           0
 26                              Other revenue                  270.588585
 27                            Property income                     256.747
 28                  Sales of goods & services                   13.770285
 29                Fines, penalties & forfeits                      0.0713
 30                            Other transfers                           0
 31          NI & SGS: premiums, fees & claims                           0

     Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5   Unnamed: 6   Unnamed: 7  \
 0          NaN         NaN         NaN         NaN          NaN          NaN
 1          NaN         NaN         NaN         NaN          NaN          NaN
 2          NaN         NaN         NaN         NaN          NaN          NaN
 3          NaN         NaN         NaN         NaN          NaN          NaN
 4          NaN         NaN         NaN         NaN          NaN          NaN
 5          NaN         NaN         NaN         NaN          NaN          NaN
 6    2011.0000   2012.0000   2013.0000   2014.0000  2015.000000  2016.000000
 7    2658.2384   2592.5724   2910.4676   3402.7301  3676.004241  4907.135804
 8    2037.6750   2126.8310   2408.8090   2552.6480  2971.290000  3479.539074
 9     533.6800    512.5730    568.2830    611.3700   706.719000   882.598000
 10      0.0000      0.0000      0.0000      0.0000     0.000000     0.000000
 11      0.0000      0.0000      0.0000      0.0000     0.000000     0.000000
 12   1203.5260   1307.3870   1535.1850   1586.7630  1806.810000  2044.729074
 13    960.9680   1052.4880   1265.0680   1324.2950  1506.411000  1667.974074
 14    215.9360    234.2270    248.1070    236.8810   268.492000   342.945000
 15    296.8040    303.7620    299.5690    351.8910   455.262000   538.526000
 16      3.6650      3.1090      5.7720      2.6240     2.499000    13.686000
 17    187.8000     79.6000    126.4000    132.2000   140.900000   138.313300
 18      0.0000      0.0000      0.0000      0.0000     0.000000     0.000000
 19    187.8000     79.6000    126.4000    132.2000   140.900000   138.313300
 20    390.3030    262.8910    296.1420    592.8660   424.221000  1124.491356
 21     14.9380     12.7960     40.3650     22.6070     6.452000   105.998322
 22    375.3650    250.0950    255.7770    570.2590   417.769000  1018.493033
 23      0.0000      0.0000      0.0000      0.0000     0.000000     0.000000
 24      0.0000      0.0000      0.0000      0.0000     0.000000     0.000000
 25      0.0000      0.0000      0.0000      0.0000     0.000000     0.000000
 26     42.4604    123.2504     79.1166    125.0161   139.593241   164.792074
 27     27.7300     39.9230     48.7450     44.1850    57.655400    93.919183
 28     14.6733     83.2851     30.3220     80.7182    81.721365    70.782798
 29      0.0571      0.0423      0.0496      0.1129     0.216476     0.090094
 30      0.0000      0.0000      0.0000      0.0000     0.000000     0.000000
 31      0.0000      0.0000      0.0000      0.0000     0.000000     0.000000

      Unnamed: 8   Unnamed: 9  Unnamed: 10
 0           NaN          NaN          NaN
 1           NaN          NaN          NaN
 2           NaN          NaN          NaN
 3           NaN          NaN          NaN
 4           NaN          NaN          NaN
 5           NaN          NaN          NaN
 6   2017.000000  2018.000000  2019.000000
 7   5502.083066  6481.118686  7490.632292
 8   4117.193803  4718.547483  5374.959912
 9   1002.793226  1174.760578  1428.749683
 10     0.000000     0.000000     0.000000
 11     0.000000     0.000000     0.000000
 12  2471.133393  2755.338230  3030.618626
 13  2077.285825  2323.606522  2598.811289
 14   385.176771   422.353176   421.150863
 15   628.977742   767.683114   890.852151
 16    14.289441    20.765561    24.739451
 17   165.800000   325.469131   305.544900
 18     0.000000     0.000000     0.000000
 19   165.800000   325.469131   305.544900
 20  1036.869986  1231.133157  1586.813000
 21   158.843022   208.639049   517.139000
 22   878.026964  1022.494108  1069.674000
 23     0.000000     0.000000     0.000000
 24     0.000000     0.000000     0.000000
 25     0.000000     0.000000     0.000000
 26   182.219277   205.968916   223.314480
 27   106.368792   107.699668   117.150500
 28    75.834024    98.268928   106.160980
 29     0.016461     0.000321     0.003000
 30     0.000000     0.000000     0.000000
 31     0.000000     0.000000     0.000000  }