Import Libraries

In [90]:
import pandas as pd
import numpy as np
import os

Currency Codes

In [91]:
country_currency_codes_table = {
    'Burundi': 'BIF',
    'Benin': 'XOF',
    'Burkina Faso': 'XOF',
    'Central African Republic': 'XAF',
    "Côte d'Ivoire": 'XOF',
    'Cameroon': 'XAF',
    'Democratic Republic of the Congo': 'CDF',
    'Congo, Rep.': 'XAF',
    'Comoros': 'KMF',
    'Eritrea': 'ERN',
    'Ethiopia': 'ETB',
    'Ghana': 'GHS',
    'Guinea': 'GNF',
    'Gambia, The': 'GMD',
    'Guinea-Bissau': 'XOF',
    'Liberia': 'LRD',
    'Madagascar': 'MGA',
    'Mali': 'XOF',
    'Mozambique': 'MZN',
    'Mauritania': 'MRU',
    'Malawi': 'MWK',
    'Niger': 'XOF',
    'Rwanda': 'RWF',
    'Sudan': 'SDG',
    'Senegal': 'XOF',
    'Sierra Leone': 'SLL',
    'Somalia': 'SOS',
    'São Tomé and Principe': 'STN',
    'Chad': 'XAF',
    'Togo': 'XOF',
    'Tanzania': 'TZS',
    'Uganda': 'UGX',
    'Zambia': 'ZMW'
}

Read Data

In [92]:
#read in stata dataset as dataframe "country_code_df"
country_code_df = pd.read_stata("codesffactors_Mar23_2019.dta") 
country_code_df.replace('--', np.nan, inplace=True) #replace all entries that are '--' with NaN data value

country_code_df.head()

,countryname,wbctry,wbcode,wbregion,wbigroup2017,wblcat2017,hipc,emu,cemac,waemu,imfcode,imfweocode,imfweoiso,imfweoctry,region
0,Aruba,Aruba,ABW,Latin America & Caribbean,High income,NaN,0,0,0,0,NaN,314.0,ABW,Aruba,LAC
1,Afghanistan,Afghanistan,AFG,South Asia,Low income,IDA,1,0,0,0,512.0,512.0,AFG,Afghanistan,SAS
2,Angola,Angola,AGO,Sub-Saharan Africa,Lower middle income,IBRD,0,0,0,0,614.0,614.0,AGO,Angola,SSA
3,Anguilla,NaN,AIA,Latin America & Caribbean,NaN,NaN,0,0,0,0,312.0,NaN,NaN,NaN,LAC
4,Albania,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD,0,0,0,0,914.0,914.0,ALB,Albania,ECA

In [93]:
region_classification_ls = country_code_df['wbregion'].unique() #get a list of region classifications
income_classification_ls = country_code_df['wbigroup2017'].unique() #get a list of income classifications
income_classification_ls = [x for x in income_classification_ls if not pd.isna(x)] # remove '--' from income_classification_ls

print(f"The region classifications are: {', '.join(country for country in region_classification_ls)}")
print(f"The income classifications are: {', '.join(country for country in income_classification_ls)}")

The region classifications are: Latin America & Caribbean, South Asia, Sub-Saharan Africa, Europe & Central Asia, Middle East & North Africa, East Asia & Pacific, North America
The income classifications are: High income, Low income, Lower middle income, Upper middle income

In [94]:
ssa_hipc_countries = country_code_df[(country_code_df['hipc'] == 1) & (country_code_df['wbregion'] == 'Sub-Saharan Africa')]
ssa_hipc_countries_ls = ssa_hipc_countries['imfweoctry'].to_list()

ssa_hipc_countries_ls

['Burundi',
 'Benin',
 'Burkina Faso',
 'Central African Republic',
 "Côte d'Ivoire",
 'Cameroon',
 'Democratic Republic of the Congo',
 'Republic of Congo',
 'Comoros',
 'Eritrea',
 'Ethiopia',
 'Ghana',
 'Guinea',
 'The Gambia',
 'Guinea-Bissau',
 'Liberia',
 'Madagascar',
 'Mali',
 'Mozambique',
 'Mauritania',
 'Malawi',
 'Niger',
 'Rwanda',
 'Sudan',
 'Senegal',
 'Sierra Leone',
 'Somalia',
 'São Tomé and Príncipe',
 'Chad',
 'Togo',
 'Tanzania',
 'Uganda',
 'Zambia']

In [95]:
#convert to USD (get the billions/millions reading, fx function, raw USD)

#clip dataframe, store in table 

#get average per country

#get overall average

#calculate breakdowns


argentina_df = pd.read_excel("Argentina.xlsx") 

argentina_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Detailed Revenue Breakdown,Detailed Revenue Breakdown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country: Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sector: Budgetary central government,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Unit: Domestic currency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Scale: Millions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Read in IMF's Government Finance Statistics

In [96]:
master_table = {}
folder_path = "expenditure-data-test"

# Loop that goes through all files 'file_name' in the folder 'folder_path'
for file_name in os.listdir(folder_path):
  if file_name.endswith('.xlsx') and not file_name.startswith('~$'): #check to see if is spreadsheet .xlsx format
    raw_df = pd.read_excel(folder_path+ "/" + file_name) #read in .xlsx as dataframe
    master_table[file_name[:-5]] = raw_df #store dataframe as an entry in the master_table hash table

master_table["Central African Republic"]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Detailed Expense Breakdown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country: Central African Rep.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sector: Budgetary central government,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Unit: Domestic currency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Scale: Millions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,2010.000000,2011.000000,2012.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.0
7,Expense,173191.844630,154688.395707,104889.000000,77390.768917,93306.810411,97567.295289,104410.000000,124885.230000,129359.0
8,Compensation of employees,42810.146225,45990.959872,51212.645448,53784.000000,56675.601307,49182.000000,50003.000000,61336.000000,65052.0
9,Wages and salaries,40985.248049,44003.471456,49015.946957,51464.377325,54144.201467,47346.049153,47738.440867,58886.742009,57087.0
10,Employers' social contributions,1824.898176,1987.488416,2196.698491,2319.622675,2531.399840,1835.950847,2264.559133,2449.257991,7965.0
11,Use of goods and services,100287.755219,75432.881175,24993.341734,6348.000000,15233.638322,21972.000000,27744.000000,30478.000000,36371.0
12,Interest expense,9511.550000,6983.069495,5923.666208,2169.768917,4697.812520,1155.630000,2205.000000,2801.230000,6482.0
13,To nonresidents,2779.550000,2709.069495,2363.419583,2032.978409,334.501753,1085.000000,2091.000000,2656.230000,1642.0
14,To residents other than government units,6732.000000,4274.000000,3560.246625,136.790508,4363.310767,70.630000,114.000000,145.000000,0.0
15,To other government units,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4840.0
16,Subsidies,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
17,To public corporations,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
18,To private enterprises,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
19,To other sectors,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
20,Grants,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
21,To foreign governments,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
22,To international organizations,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
23,To other government units,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
24,Current,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25,Capital,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
26,Social benefits,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
27,Social security benefits,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
28,Social assistance benefits,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
29,Employment-related social benefits,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
30,Other expense,400.000000,3000.000000,NaN,15089.000000,16699.758262,25257.665289,24458.000000,30270.000000,21454.0
31,Property expense other than interest,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
32,Expense on other transfers,400.000000,3000.000000,NaN,15089.000000,16699.758262,25257.665289,24458.000000,30270.000000,21454.0

In [97]:
#loop through table (where key is the country name)
for key in master_table:
  scale = master_table[key].iloc[4][0] #get if values have scale of billions or millions
  
  # Drop rows 0 to 5, reformatting indexes and column headers
  master_table[key] = master_table[key].drop([0, 1, 2, 3, 4, 5]) 
  master_table[key] = master_table[key].reset_index(drop=True) 
  master_table[key].columns = master_table[key].iloc[0]
  master_table[key] = master_table[key][1:]
  master_table[key] = master_table[key].set_index(master_table[key].columns[0])

  if scale == "Scale: Billions":
    master_table[key] = master_table[key]* 10 * 1e9 #multiple every value in dataframe by 1e9 if scale is billion
  elif scale == "Scale: Millions":
    master_table[key] = master_table[key]* 10 * 1e6 #multiple every value in dataframe by 1e9 if scale is billion

master_table["Central African Republic"]

/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_40177/3521983302.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  scale = master_table[key].iloc[4][0] #get if values have scale of billions or millions
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_40177/3521983302.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  scale = master_table[key].iloc[4][0] #get if values have scale of billions or millions
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_40177/3521983302.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  scale = master_table[key].iloc[4][0] #get if values have scale of billions or millions
/var/folders/w4/8bdyf7817wzghq2ypzxtqpcm0000gn/T/ipykernel_40177/3521983302.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  scale = master_table[key].iloc[4][0] #get if values have scale of billions or millions

,2010.0,2011.0,2012.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
nan,,,,,,,,,
Expense,1.731918e+12,1.546884e+12,1.048890e+12,7.739077e+11,9.330681e+11,9.756730e+11,1.044100e+12,1.248852e+12,1.293590e+12
Compensation of employees,4.281015e+11,4.599096e+11,5.121265e+11,5.378400e+11,5.667560e+11,4.918200e+11,5.000300e+11,6.133600e+11,6.505200e+11
Wages and salaries,4.098525e+11,4.400347e+11,4.901595e+11,5.146438e+11,5.414420e+11,4.734605e+11,4.773844e+11,5.888674e+11,5.708700e+11
Employers' social contributions,1.824898e+10,1.987488e+10,2.196698e+10,2.319623e+10,2.531400e+10,1.835951e+10,2.264559e+10,2.449258e+10,7.965000e+10
Use of goods and services,1.002878e+12,7.543288e+11,2.499334e+11,6.348000e+10,1.523364e+11,2.197200e+11,2.774400e+11,3.047800e+11,3.637100e+11
Interest expense,9.511550e+10,6.983069e+10,5.923666e+10,2.169769e+10,4.697813e+10,1.155630e+10,2.205000e+10,2.801230e+10,6.482000e+10
To nonresidents,2.779550e+10,2.709069e+10,2.363420e+10,2.032978e+10,3.345018e+09,1.085000e+10,2.091000e+10,2.656230e+10,1.642000e+10
To residents other than government units,6.732000e+10,4.274000e+10,3.560247e+10,1.367905e+09,4.363311e+10,7.063000e+08,1.140000e+09,1.450000e+09,0.000000e+00
To other government units,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.840000e+10
Subsidies,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
To public corporations,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
To private enterprises,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
To other sectors,NaN,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Grants,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
To foreign governments,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
To international organizations,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
To other government units,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Current,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Capital,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Social benefits,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Social security benefits,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Social assistance benefits,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Employment-related social benefits,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Other expense,4.000000e+09,3.000000e+10,NaN,1.508900e+11,1.669976e+11,2.525767e+11,2.445800e+11,3.027000e+11,2.145400e+11
Property expense other than interest,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Expense on other transfers,4.000000e+09,3.000000e+10,NaN,1.508900e+11,1.669976e+11,2.525767e+11,2.445800e+11,3.027000e+11,2.145400e+11