Import Libraries

In [279]:
import pandas as pd
import numpy as np
import os
import yfinance as yf

Currency Codes

In [280]:
country_currency_codes_table = {
    'Burundi': 'BIF',
    'Benin': 'XOF',
    'Burkina Faso': 'XOF',
    'Central African Republic': 'XAF',
    "Côte d'Ivoire": 'XOF',
    'Cameroon': 'XAF',
    'Democratic Republic of the Congo': 'CDF',
    'Congo, Rep.': 'XAF',
    'Comoros': 'KMF',
    'Eritrea': 'ERN',
    'Ethiopia': 'ETB',
    'Ghana': 'GHS',
    'Guinea': 'GNF',
    'Gambia, The': 'GMD',
    'Guinea-Bissau': 'XOF',
    'Liberia': 'LRD',
    'Madagascar': 'MGA',
    'Mali': 'XOF',
    'Mozambique': 'MZN',
    'Mauritania': 'MRU',
    'Malawi': 'MWK',
    'Niger': 'XOF',
    'Rwanda': 'RWF',
    'Sudan': 'SDG',
    'Senegal': 'XOF',
    'Sierra Leone': 'SLL',
    'Somalia': 'SOS',
    'São Tomé and Principe': 'STN',
    'Chad': 'XAF',
    'Togo': 'XOF',
    'Tanzania': 'TZS',
    'Uganda': 'UGX',
    'Zambia': 'ZMW'
}

Read Data

In [281]:
#read in stata dataset as dataframe "country_code_df"
country_code_df = pd.read_stata("codesffactors_Mar23_2019.dta") 
country_code_df.replace('--', np.nan, inplace=True) #replace all entries that are '--' with NaN data value

country_code_df.head()

,countryname,wbctry,wbcode,wbregion,wbigroup2017,wblcat2017,hipc,emu,cemac,waemu,imfcode,imfweocode,imfweoiso,imfweoctry,region
0,Aruba,Aruba,ABW,Latin America & Caribbean,High income,NaN,0,0,0,0,NaN,314.0,ABW,Aruba,LAC
1,Afghanistan,Afghanistan,AFG,South Asia,Low income,IDA,1,0,0,0,512.0,512.0,AFG,Afghanistan,SAS
2,Angola,Angola,AGO,Sub-Saharan Africa,Lower middle income,IBRD,0,0,0,0,614.0,614.0,AGO,Angola,SSA
3,Anguilla,NaN,AIA,Latin America & Caribbean,NaN,NaN,0,0,0,0,312.0,NaN,NaN,NaN,LAC
4,Albania,Albania,ALB,Europe & Central Asia,Upper middle income,IBRD,0,0,0,0,914.0,914.0,ALB,Albania,ECA

In [282]:
region_classification_ls = country_code_df['wbregion'].unique() #get a list of region classifications
income_classification_ls = country_code_df['wbigroup2017'].unique() #get a list of income classifications
income_classification_ls = [x for x in income_classification_ls if not pd.isna(x)] # remove '--' from income_classification_ls

print(f"The region classifications are: {', '.join(country for country in region_classification_ls)}")
print(f"The income classifications are: {', '.join(country for country in income_classification_ls)}")

The region classifications are: Latin America & Caribbean, South Asia, Sub-Saharan Africa, Europe & Central Asia, Middle East & North Africa, East Asia & Pacific, North America
The income classifications are: High income, Low income, Lower middle income, Upper middle income

In [283]:
ssa_hipc_countries = country_code_df[(country_code_df['hipc'] == 1) & (country_code_df['wbregion'] == 'Sub-Saharan Africa')]
ssa_hipc_countries_ls = ssa_hipc_countries['imfweoctry'].to_list()

ssa_hipc_countries_ls

['Burundi',
 'Benin',
 'Burkina Faso',
 'Central African Republic',
 "Côte d'Ivoire",
 'Cameroon',
 'Democratic Republic of the Congo',
 'Republic of Congo',
 'Comoros',
 'Eritrea',
 'Ethiopia',
 'Ghana',
 'Guinea',
 'The Gambia',
 'Guinea-Bissau',
 'Liberia',
 'Madagascar',
 'Mali',
 'Mozambique',
 'Mauritania',
 'Malawi',
 'Niger',
 'Rwanda',
 'Sudan',
 'Senegal',
 'Sierra Leone',
 'Somalia',
 'São Tomé and Príncipe',
 'Chad',
 'Togo',
 'Tanzania',
 'Uganda',
 'Zambia']

In [284]:
#convert to USD

#get average per country

#get overall average

#calculate breakdowns


argentina_df = pd.read_excel("Argentina.xlsx") 

argentina_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,Detailed Revenue Breakdown,Detailed Revenue Breakdown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Country: Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Sector: Budgetary central government,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Unit: Domestic currency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Scale: Millions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Read in IMF's Government Finance Statistics

In [285]:
master_table = {}
folder_path = "expenditure-data-test"

# Loop that goes through all files 'file_name' in the folder 'folder_path'
for file_name in os.listdir(folder_path):
  if file_name.endswith('.xlsx') and not file_name.startswith('~$'): #check to see if is spreadsheet .xlsx format
    raw_df = pd.read_excel(folder_path+ "/" + file_name) #read in .xlsx as dataframe
    master_table[file_name[:-5]] = raw_df #store dataframe as an entry in the master_table hash table

# master_table["Central African Republic"]
master_table["Benin"]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Detailed Expense Breakdown,NaN,NaN,NaN,NaN
1,Country: Benin,NaN,NaN,NaN,NaN
2,Sector: Budgetary central government,NaN,NaN,NaN,NaN
3,Unit: Domestic currency,NaN,NaN,NaN,NaN
4,Scale: Billions,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN
6,NaN,2010.000000,2011.000000,2012.000000,2013.0
7,Expense,459.011490,457.660567,534.669798,577.5
8,Compensation of employees,235.600075,242.117067,267.900275,296.2
9,Wages and salaries,235.600075,242.117067,267.900275,296.2
10,Employers' social contributions,0.000000,0.000000,0.000000,0.0
11,Use of goods and services,71.197566,68.703453,94.436470,106.1
12,Interest expense,17.734935,14.973871,23.143175,19.9
13,To nonresidents,8.106149,7.831106,10.604660,9.8
14,To residents other than government units,9.628786,7.142766,12.538515,10.1
15,To other government units,0.000000,0.000000,0.000000,0.0
16,Subsidies,20.525565,33.553247,55.091217,49.5
17,To public corporations,20.525565,33.553247,55.091217,49.5
18,To private enterprises,0.000000,0.000000,0.000000,0.0
19,To other sectors,0.000000,0.000000,0.000000,0.0
20,Grants,101.794146,86.975987,80.503177,91.1
21,To foreign governments,0.000000,0.000000,0.000000,0.0
22,To international organizations,6.166268,5.812560,6.894267,8.2
23,To other government units,95.627878,81.163427,73.608910,82.9
24,Current,95.627878,81.163427,73.608910,82.9
25,Capital,0.000000,0.000000,0.000000,0.0
26,Social benefits,0.775000,0.987000,0.783000,0.9
27,Social security benefits,0.000000,0.000000,0.000000,0.0
28,Social assistance benefits,0.000000,0.000000,0.000000,0.0
29,Employment-related social benefits,0.775000,0.987000,0.783000,0.9
30,Other expense,11.384204,10.349942,12.812484,13.7
31,Property expense other than interest,0.000000,0.000000,0.000000,0.0
32,Expense on other transfers,11.384204,10.349942,12.812484,13.7

Convert values to USD

In [286]:
error_countries = []

#loop through table (where key is the country name) (master_table[key] is the dataframe stored in the master_table indexed by key)
for key in master_table:
  scale = master_table[key].iloc[4,0] #get if values have scale of billions or millions
  
  # Drop rows 0 to 5, reformatting indexes and column headers
  master_table[key] = master_table[key].drop([0, 1, 2, 3, 4, 5]) 
  master_table[key] = master_table[key].reset_index(drop=True) 
  master_table[key].columns = master_table[key].iloc[0]
  master_table[key] = master_table[key][1:]
  master_table[key] = master_table[key].set_index(master_table[key].columns[0])

  if scale == "Scale: Billions":
    master_table[key] = master_table[key]* (10 ** 9) #multiple every value in dataframe by 1e9 if scale is billion
  elif scale == "Scale: Millions":
    master_table[key] = master_table[key]* (10 ** 6) #multiple every value in dataframe by 1e9 if scale is billion


  #get annual 2010-2019 USD to domestic currency exchange rate using yfinance library
  currency = country_currency_codes_table[key] #retrieve currency symbol from 'country_currency_codes_table'
  symbol = f"{currency}=X"
  try:
    data = yf.download(symbol, start="2010-01-01", end="2020-01-01", interval="1mo") #download monthly USD-Currency dataset from 2010-2020
    yearly_data_df = data['Close'].resample('YE').mean() #get the annual average exchange rate outputted as datafram
    yearly_data_table = yearly_data_df.to_dict() # Convert the yearly_data to a hash table with the date as the key
    year_to_exchange_rate_dict = {key.year: value for key, value in yearly_data_table.items()} # Convert the keys to only the year part
    print(year_to_exchange_rate_dict)

    #convert DataFrame values to USD
    for year in master_table[key].columns: #loop through columns in dataframe
      year_int = int(year)  # Convert year to integer to match the dictionary keys
      master_table[key][year] = master_table[key][year] / year_to_exchange_rate_dict[year_int] #divide each column's values by that year's exchange rate

  except Exception as e: #if errored out
    print(f"Could not fetch rate for {key} ({currency}): {e}")
    error_countries.append(key) #add country to error list
    pass

for country in error_countries:
  del master_table[country]
 
master_table["Benin"]

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

{2010: 487.61083221435547, 2011: 460.5933329264323, 2012: 501.0466715494792, 2013: 492.91916910807294, 2014: 497.47583770751953, 2015: 594.4266713460287, 2016: 594.0358378092448, 2017: 577.82666015625, 2018: 557.75, 2019: 583.7949981689453}
{2010: 487.61083221435547, 2011: 460.5933329264323, 2012: 501.0466715494792, 2013: 492.91916910807294, 2014: 497.47583770751953, 2015: 594.4266713460287, 2016: 594.0358378092448, 2017: 577.82666015625, 2018: 557.75, 2019: 583.7949981689453}

[*********************100%%**********************]  1 of 1 completed

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

{2010: 487.5991668701172, 2011: 460.59083048502606, 2012: 501.04666900634766, 2013: 492.91916910807294, 2014: 497.4808349609375, 2015: 594.4341735839844, 2016: 594.0333353678385, 2017: 578.2424977620443, 2018: 556.1933390299479, 2019: 586.7139180501302}
{2010: 487.61083221435547, 2011: 460.5933329264323, 2012: 501.0466715494792, 2013: 492.91916910807294, 2014: 497.47583770751953, 2015: 594.4266713460287, 2016: 594.0358378092448, 2017: 577.82666015625, 2018: 557.75, 2019: 583.7949981689453}
{2010: 2070.574991861979, 2011: 1995.8000183105469, 2012: 2154.4749755859375, 2013: 2174.9000040690103, 2014: 2460.4250284830728, 2015: 3095.6833699544272, 2016: 3135.3916625976562, 2017: 3076.9583333333335, 2018: 3307.1916707356772, 2019: 3290.9500080744424}
Could not fetch rate for Madagascar (MGA): 2005

,2010.0,2011.0,2012.0,2013.0
nan,,,,
Expense,9.413480e+08,9.936326e+08,1.067106e+09,1.171592e+09
Compensation of employees,4.831724e+08,5.256634e+08,5.346813e+08,6.009099e+08
Wages and salaries,4.831724e+08,5.256634e+08,5.346813e+08,6.009099e+08
Employers' social contributions,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Use of goods and services,1.460131e+08,1.491629e+08,1.884784e+08,2.152483e+08
Interest expense,3.637108e+07,3.250996e+07,4.618966e+07,4.037173e+07
To nonresidents,1.662422e+07,1.700221e+07,2.116501e+07,1.988156e+07
To residents other than government units,1.974687e+07,1.550775e+07,2.502464e+07,2.049017e+07
To other government units,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Subsidies,4.209415e+07,7.284788e+07,1.099523e+08,1.004221e+08
To public corporations,4.209415e+07,7.284788e+07,1.099523e+08,1.004221e+08
To private enterprises,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
To other sectors,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Grants,2.087610e+08,1.888347e+08,1.606700e+08,1.848173e+08
To foreign governments,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
To international organizations,1.264588e+07,1.261972e+07,1.375973e+07,1.663559e+07
To other government units,1.961152e+08,1.762149e+08,1.469103e+08,1.681817e+08
Current,1.961152e+08,1.762149e+08,1.469103e+08,1.681817e+08
Capital,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Social benefits,1.589382e+06,2.142888e+06,1.562729e+06,1.825857e+06
Social security benefits,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Social assistance benefits,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Employment-related social benefits,1.589382e+06,2.142888e+06,1.562729e+06,1.825857e+06
Other expense,2.334691e+07,2.247089e+07,2.557144e+07,2.779360e+07
Property expense other than interest,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
Expense on other transfers,2.334691e+07,2.247089e+07,2.557144e+07,2.779360e+07

Calculate Averages

In [287]:
master_averages_ls = [] #make master averages list as place to store averages

#Get average over decade
#loop through table (where key is the country name) (master_table[key] is the dataframe stored in the master_table indexed by key)
for key in master_table:
  per_category_average = master_table[key].mean(axis=1) #get the average of each category (ignoring np.NaN values) into a list
  per_category_average.drop('To other government units', inplace=True) #drop 'To other government units' since there's two rows named that and will error
  master_averages_ls.append(per_category_average) #add each country average to to the master averages list


merged_averages_df = pd.concat(master_averages_ls, axis=1, join='outer')
average_df = merged_averages_df.mean(axis=1) #get the average of all the countries' averages
average_df

nan
Expense                                     1.804902e+09
Compensation of employees                   7.187126e+08
Wages and salaries                          2.404558e+08
Employers' social contributions             1.716641e+06
Use of goods and services                   3.099287e+08
Interest expense                            1.520446e+08
To nonresidents                             8.231896e+07
To residents other than government units    6.949644e+07
Subsidies                                   1.785343e+08
To public corporations                      1.672332e+08
To private enterprises                      6.314578e+07
To other sectors                            1.551655e+07
Grants                                      2.830172e+08
To foreign governments                      0.000000e+00
To international organizations              6.690818e+06
Current                                     2.066276e+08
Capital                                     6.969876e+07
Social benefits                             2.205915e+07
Social security benefits                    0.000000e+00
Social assistance benefits                  2.024866e+06
Employment-related social benefits          2.003429e+07
Other expense                               1.376160e+08
Property expense other than interest        0.000000e+00
Expense on other transfers                  1.376160e+08
dtype: float64

Calculate Percentages